# Ignorar carpeta de datos generales
1B_RI/data


# Ignorar notebook de la semana 04
1B_RI/Semana04/01tdmatrixV1.ipynb

# Ignorar archivos CSV de ejemplos en Semana08
1B_RI/Semana08/dataEx/*.csv

# Ignorar archivos JSON en Semana14
2B_RI/Semana14/inverted_index.json
2B_RI/Semana14/workshop_05V1.ipynb
2B_RI/Semana14/indexdir
2B_RI/Semana14/tutorial_docker
2B_RI/Semana14/DockerT
2B_RI/Semana14/elasticsearch_config